limit_req_zone $http_x_forwarded_for zone=sdc:32m rate=30r/m;
proxy_cache_path /var/cache/nginx levels=1:2 inactive=6h keys_zone=sdc_cache:100m;

server {

    listen 8081;
    server_name $SERVER_NAME;

    # ddos blacklist
    deny 43.255.142.87;
    deny 41.109.234.199;
    deny 105.98.63.176;
    deny 212.28.80.170;
    deny 171.49.131.210;
    deny 201.11.220.176;
    deny 106.203.67.60;
    deny 77.121.177.16;
    deny 41.141.182.111;
    deny 178.149.74.37;
    deny 120.29.66.143;
    deny 103.197.134.253;
    deny 80.242.3.93;
    deny 27.34.20.192;
    deny 185.32.23.2;
    deny 181.66.10.15;
    deny 112.133.248.21;
    deny 31.11.129.64;
    deny 88.23.206.197;
    deny 213.135.163.116;
    deny 124.124.21.33;
    deny 95.10.207.93;
    deny 178.221.6.209;
    deny 47.29.67.145;
    deny 185.57.68.66;
    deny 202.51.93.20;
    deny 79.119.210.62;
    deny 180.241.13.6;
    deny 112.198.118.105;
    deny 93.87.174.95;
    deny 77.123.23.67;
    deny 79.179.122.204;
    deny 89.40.204.153;
    deny 197.2.230.196;
    deny 93.138.121.54;
    deny 188.236.24.247;
    deny 93.51.158.100;
    deny 82.78.242.229;
    deny 172.103.1.51;
    deny 45.251.32.175;
    deny 91.140.88.147;
    deny 42.119.233.109;
    deny 103.72.218.160;
    deny 197.0.59.95;
    deny 122.162.9.5;
    deny 118.71.19.160;
    deny 194.228.68.229;
    deny 94.176.160.143;
    deny 87.165.12.73;
    deny 93.159.195.169;
    deny 178.150.93.135;
    deny 82.208.215.31;
    deny 89.123.127.200;
    deny 176.63.25.92;
    deny 43.250.165.49;
    deny 79.113.7.84;
    deny 177.83.205.221;
    deny 86.124.95.169;
    deny 42.113.188.168;
    deny 92.81.205.173;
    deny 213.233.93.5;
    deny 101.78.236.209;
    deny 176.63.21.77;
    deny 95.42.90.17;
    
    # proxy traffic for healthcheck to the upstream without https redirect for the ELB to see a 200 on /
    location /.well-known/healthcheck.json {
      access_log off;
      proxy_set_header  Host $host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  X-Forwarded-Proto $scheme;
      proxy_ignore_client_abort on;
      proxy_read_timeout 90;
      proxy_http_version 1.1;
      proxy_redirect off;
      proxy_pass  http://steemit-sdc:8080/.well-known/healthcheck.json;
    }

    location /rippedoff/ {
      # ddos url
      return 404;
    }
    
    add_header Strict-Transport-Security "max-age=31557600; includeSubDomains; preload" always;

    location / {
      limit_req zone=sdc burst=60;

      # rewrite http to https (ALB does the https termination)
      if ($http_x_forwarded_proto != 'https') {
        return 301 https://$server_name$request_uri;
      }

      proxy_set_header  Host $host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  X-Forwarded-Proto $scheme;
      proxy_ignore_client_abort on;
      proxy_read_timeout 90;
      proxy_http_version 1.1;
      add_header Strict-Transport-Security "max-age=31557600; includeSubDomains; preload" always;
      add_header 'Content-Security-Policy' 'upgrade-insecure-requests';

      proxy_cache sdc_cache;
      proxy_cache_valid 2m;
      proxy_cache_lock on;

      proxy_pass  http://steemit-sdc:8080;

    }
}

server {
    listen 8081;

    server_name www.$SERVER_NAME;
    return 301 https://$SERVER_NAME$request_uri;
}
